@{
    ViewData["Title"] = "Consent and Authorisation";
}
@model TokenModel

<h2>Consent and Authorisation - Callback</h2>

<p>
    @if (Model.TokenResponse != null && Model.TokenResponse.IsSuccessful)
    {
        <dl>
            <dt id="consent-callback-idToken">Id Token:</dt>
            <dd>@Model.TokenResponse.Data.IdToken</dd>
            <dt id="consent-callback-accessToken">Access Token:</dt>
            <dd>@Model.TokenResponse.Data.AccessToken</dd>

            @if (!string.IsNullOrEmpty(Model.TokenResponse.Data.RefreshToken))
            {
                <dt id="consent-callback-refreshToken">Refresh Token:</dt>
                <dd>@Model.TokenResponse.Data.RefreshToken</dd>
            }

            <dt id="consent-callback-expiresIn">Expires In:</dt>
            <dd>@Model.TokenResponse.Data.ExpiresIn</dd>
            <dt id="consent-callback-scope">Scope:</dt>
            <dd>@Model.TokenResponse.Data.Scope</dd>
            <dt id="consent-callback-tokenType">Token Type:</dt>
            <dd>@Model.TokenResponse.Data.TokenType</dd>
            <dt id="consent-callback-cdrArrangementId">CDR Arrangement Id:</dt>
            <dd>@Model.TokenResponse.Data.CdrArrangementId</dd>
        </dl>
    }
    else
    {
        <strong id="consent-callback-noTokenMessage">Could not retrieve token from Data Holder</strong>
        <div>@Model.Messages</div>
        <ul>
            @foreach (var error in Model.ErrorList.Errors)
            {
                <li>@error.Title (@error.Code): @error.Detail</li>
            }
        </ul>
    }
</p>

@section Scripts {
    <script type="text/javascript">
        setSidebarMenuItem('consent');
    </script>
}