@using CDR.DataRecipient.Web.Features
@using Microsoft.FeatureManagement
@{
    ViewData["Title"] = "ID Token Helper";
	var linkToExternalJwt = await _featureManager.IsEnabledAsync(nameof(FeatureFlags.LinkToExternalJwt));
}
@model IdTokenModel
@inject IFeatureManager _featureManager

<h2>ID Token Helper</h2>

<p>
    This page allows for an encrypted ID Token to be decrypted and decoded.
</p>

<div class="card">
    <h5 class="card-header">Decode ID Token</h5>
    <div class="card-body">
        <div class="card-text">
            @using (Html.BeginForm())
            {
                <div class="form">
                    <div class="row mb-3">
                        @Html.LabelFor(m => m.IdTokenEncrypted, new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.IdTokenEncrypted, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row mb-3 buttons">
                        <div class="col-sm-10 offset-sm-2">
                            <input name="decrypt-id-token" type="submit" value="Decrypt ID Token" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="results">
            @if (!string.IsNullOrEmpty(Model.IdTokenDecrypted))
            {
                <h4>ID Token Decrypted:</h4>
                <div class="code">
                    @Model.IdTokenDecrypted
                </div>
                @if (linkToExternalJwt)
                {
                    <p>
                        <a href="https://jwt.io?token=@Model.IdTokenDecrypted" target="_blank" rel="noopener" class="btn btn-primary">View Decoded</a>
                    </p>
                }
            }

            @if (Model.IdTokenClaims != null)
            {
                <h4>ID Token Claims:</h4>
                <dl>
                    @foreach (var claim in Model.IdTokenClaims)
                    {
                        <dt>@claim.Type</dt>
                        <dd>@claim.Value</dd>
                    }
                </dl>
            }
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">@Model.Messages</small>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    setSidebarMenuItem('id-token');
</script>
}